.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #424242;
    
}

.logo {
    margin-top: -8px;
    background-color: #212121;
}

.logo:hover {
    background-color: #212121;
}

.sidenav a img {
    height: 50%;
    margin: 0;
    padding: 0;

}

a i {
    color: #FFF;
}


.active .icon {
    color: #FF9801;
}

.picture {
    height: 40px;
    justify-content: center;
    margin: 5px 0 0 9px;
    padding: 0;
}

.picture img {
    height: 100%;
}